.caseStudyScreen {
    background-color: #0000008d;
}

.goBackBtn {
    padding: 0px 5%;
    display: flex;
    margin: auto;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #8f8f8f;

}

.goBackBtn .goBackLinkBtn {
    text-decoration: none;
    display: flex;
    width: 100px;
    height: 100px;
    color: aliceblue;
}

.goBackBtn .goBackLinkBtn .linkIcon {
    display: flex;
    height: 50px;
    width: auto;
    margin: auto;
}

.projectNameWrapper {
    width: auto;
    display: flex;
}

.studyWrapper {
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 10%;
    gap: 20px;
}

.projectHr {
    height: 1px;
    width: 100%;
    display: flex;
    margin: auto;
    background-color: #8f8f8f;
}

.proj {
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.projectBorder {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    margin: auto;
}

.projectBorder h5 {
    border-bottom: 1px solid #8f8f8f;
}

.projectThumbNail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: auto;
    height: auto;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}

.projectThumbNail img {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    object-fit: contain;

}

/* ------------------------------------------ */

.userReviewContentWrapper {
    padding: 5% 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.perosn-imageWrapper {
    height: auto;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.perosn-imageWrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: flex;
    margin: auto;
}

.aboutPersonWrapper {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
    height: auto;
    width: auto;
    gap: 20px;
}

.aboutPersonWrapper .personName {
    display: flex;
    font-size: 20px;
    text-transform: capitalize;
}

.aboutPesronWrapper h4 {
    font-size: 12px;
    text-transform: capitalize;
}

.perosn-review {
    height: auto;
    width: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 1px solid #8f8f8f;
}

.projectLink {
    display: flex;
    margin: auto;
}

.projectLink .link {
    color: white;
    display: flex;
}

.projectLink .link .linksIcon {
    height: 20px;
    width: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    color: white;
}

.imagesWrapper .case-finaldesign img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: flex;

}

.coloImageW {
    height: auto;
    width: 50%;
    display: flex;
}

.coloImageW img {
    display: flex;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.case-imgeWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.case-image {
    display: flex;
    height: auto;
    width: 120px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.case-image img{
    object-fit: contain;
    margin: auto;
    display: flex;
    height: auto;
    width: 100%;
}
.case-mockupimage{
    display: flex;
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: center;
}

.mockupimage {
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.case-mockupimage .mockup {
    object-fit: center;
    margin: auto;
    height: 100%;
    width: 100%;
}